/*------------------------------------------------------------
layout
------------------------------------------------------------*/
.l-container {
    width: 100vw;
    margin: 0 auto;
}
/*
------------------------------------------------------------*/
