//baseWidth
//$baseWidth1:1000px;

// Breakpoint
$breakpoint1: 767px;
$breakpoint2: 480px;

// Common Colors
$color1:#f2f2f2;
$color2:#d7d7d7;
$color3:#999999;
$color4:#e50112;

// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;
