/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/* c-btn1
------------------------------------------------------------*/
.c-btn1 {
    @include sp {
        text-align: center;
        margin: 8vw 0 0;
    }
    input {
        @include sp {
            width: 92vw;
            border: none;
            border-radius: 10px;
            padding: 4vw 0 4vw;
            font-size: 5vw;
            color: #fff;
            background: $color4;
            cursor: pointer;
        }
    }
}

/* c-btn2
------------------------------------------------------------*/
.c-btn2 {
    a {
        text-decoration: none;
        @include sp {
            display: block;
            width: 35vw;
            border: 1px solid $color4;
            border-radius: 5px;
            text-align: center;
            padding: 2.3vw 0;
            transition: none;
        }
        span {
            @include sp {
                border: none;
                border-radius: 5px;
                padding: 4vw 0 4vw;
                font-size: 4vw;
                color: $color4;
            }
        }
    }
}

