/*------------------------------------------------------------
title
------------------------------------------------------------*/

/* c-ttl1
------------------------------------------------------------*/
.c-ttl1 {
    @include sp {
        position: relative;
        margin: 6.8vw 0 2.5vw;
    }

	h3 {
        @include sp {
            font-size: 4vw;
            padding: 0 0 0 4vw; 
        }
    }
    
    &--red {
        @include sp {
            color: $color4;
        }
        img {
            @include sp {
                vertical-align: baseline;
                margin: 0 0 0 2vw;
            }
        }
    }

    &.is-required {
        span {
            position: absolute;
            top: 0;
            right: 17px;
            font-size: 4vw;
            color: $color4;
        }
    }
}
