/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-text1 {
	p {
		font-size: 4vw;
        padding: 1vw 0 4vw 4vw;

		span {
			font-weight: bold;
		}
	}
}
