/*------------------------------------------------------------
other
------------------------------------------------------------*/

/* c-note1
------------------------------------------------------------*/
.c-note1 {
	@include sp {
		p {
			font-size: 4vw;
			padding: 0 0 0 4vw;
			color: $color3;
			line-height: 4.2vw;
		}
	}
}

/* c-input1
------------------------------------------------------------*/
.c-input1 {
	@include sp {
		padding: 0 3.5vw;
		margin: 0 0 2vw;
	}

	input {
		@include sp {
			background: $color1;
			border: 1px solid $color2;
			border-radius: 5px;
			padding: 3.5vw 2vw 2vw;
			font-size: 4.7vw;
            width: 88vw;
		}
	}

	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #d6d6d6;
		opacity: 1;
		/* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #d6d6d6;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: #d6d6d6;
	}
}

/* c-select1
------------------------------------------------------------*/
.c-select1 {
	@include sp {
		padding: 0 4vw;
		width: 53vw;
    }
    label {
        position: relative;
        display: block;
        &:before {
			content: '';
			position: absolute;
			border-width: 0 2px 2px 0;
			border-style: solid;
			border-color: #757575;
			width: 2vw;
			height: 2vw;
			transform: translateY(-50%) rotate(45deg);
			top: 43%;
			right: 4vw;
        }
    }
	select {
        -webkit-appearance: none;
        appearance: none;
		@include sp {
			background: $color1;
			border: 1px solid $color2;
			border-radius: 5px;
			padding: 3vw 2vw;
			font-size: 4.7vw;
			width: 100%;
        }
        &::-ms-expand {	display: none; }
	}
}

/* c-box1
------------------------------------------------------------*/
.c-box1 {
	@include sp {
		background: #eee;
		padding: 5vw 0;
	}
}

/* c-input2
------------------------------------------------------------*/
.c-input2 {
	@include sp {
        display: flex;
		padding: 0 3.5vw;
		margin: 0 0 2vw;
	}

	input {
		@include sp {
			background: $color1;
			border: 1px solid $color2;
            border-radius: 5px;
            padding: 3.5vw 2vw 2vw;
            font-size: 4.7vw;
            width: 18.3vw;
            margin: 0 2vw 0 0;
		}
	}

	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #d6d6d6;
		opacity: 1;
		/* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #d6d6d6;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: #d6d6d6;
	}
}

/* c-input3
------------------------------------------------------------*/
.c-input3 {
	@include sp {
        display: flex;
		padding: 0 3.5vw;
		margin: 0 0 2vw;
	}

	input {
		@include sp {
			background: $color1;
			border: 1px solid $color2;
            border-radius: 5px;
            padding: 3.5vw 2vw 2vw;
            font-size: 4.7vw;
            width: 40.5vw;
            margin: 0 2vw 0 0;
		}
	}

	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #d6d6d6;
		opacity: 1;
		/* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #d6d6d6;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: #d6d6d6;
	}
}

/* c-input4
------------------------------------------------------------*/
.c-input4 {
	@include sp {
        display: flex;
		padding: 0 3.5vw;
		margin: 0 0 2vw;
	}

	input {
		@include sp {
			background: $color1;
			border: 1px solid $color2;
            border-radius: 5px;
            padding: 3.5vw 2vw 2vw;
            font-size: 4.7vw;
            width: 7vw;
            margin: 0 2vw 0 0;
        }
        &:nth-child(2) {
            @include sp {
                width: 9vw;
            }
        }
        &:last-child {
            @include sp {
                width: 18vw;
            }
        }
	}

	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #d6d6d6;
		opacity: 1;
		/* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #d6d6d6;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: #d6d6d6;
	}
}
/* c-input5
------------------------------------------------------------*/
.c-input5 {
	@include sp {
        display: flex;
		padding: 0 3.5vw;
		margin: 0 0 2vw;
	}

	input {
		@include sp {
			background: $color1;
			border: 1px solid $color2;
            border-radius: 5px;
            padding: 3.5vw 2vw 2vw;
            font-size: 4.2vw;
            width: 10vw;
            margin: 0 1.2vw 0 0;
        }
        &:first-child {
            @include sp {
                width: 5.5vw;
            }
        }
	}

	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #d6d6d6;
		opacity: 1;
		/* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #d6d6d6;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: #d6d6d6;
	}
}

/* c-input6
------------------------------------------------------------*/
.c-input6 {
	@include sp {
        display: flex;
		padding: 0 3.5vw;
		margin: 0 0 2vw;
	}

	input {
		@include sp {
			background: $color1;
			border: 1px solid $color2;
            border-radius: 5px;
            padding: 3.5vw 2vw 2vw;
            font-size: 4vw;
			width: 5.5vw;
            margin: 0 1.2vw 0 0;
        }
        &:nth-child(2) {
            @include sp {
				width: 7vw;
            }
        }
        &:last-child {
            @include sp {
				width: 15vw;
            }
        }
	}

	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #d6d6d6;
		opacity: 1;
		/* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #d6d6d6;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: #d6d6d6;
	}
}
