/*------------------------------------------------------------
forms
------------------------------------------------------------*/
.p-form {
	margin: 10vw 0;

	&__group {
		@include sp {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 6.5vw 4.1vw 0;
		}

		.c-btn2 {
			a {
				@include sp {
					width: 44vw;
					padding: 3.2vw 0;
				}
			}
		}

		.c-btn1 {
			input {
				@include sp {
					width: 45vw;
				}
			}
		}
	}

	&__box1 {
        @include sp {
            border-top: 1px solid #e3e3e3;
            padding: 4.5vw 0 6vw;
    
            p {
                font-size: 4vw;
                padding: 0 0 0 4vw;
            }
            &--bg {
                background: #f2f2f2;
                margin: 0 0 0 4vw;
            }
        }
	}

	/* form 1
    -------------------------------------------*/
	&__1 {
		.c-box1 {
			@include sp {
				margin: 4vw 0 -1.7vw;
			}

			.c-ttl1 {
				@include sp {
					margin: 4.3vw 0 2.5vw;
				}

				h3 {
					@include sp {
						font-size: 4.2vw;
					}
				}
			}

			.c-note1 {
				margin: 3vw 0 0;
			}
		}
	}

	/* form 2
    -------------------------------------------*/
	&__2 {
		.c-input2 {
			@include sp {
				margin: 4.5vw 0 2vw;
			}
		}

		.c-box1 {
			@include sp {
				margin: 4vw 0 -1.7vw;
			}

			.c-ttl1 {
				@include sp {
					margin: 4.3vw 0 2.5vw;
				}

				h3 {
					@include sp {
						font-size: 4.2vw;
					}
				}
			}

			.c-note1 {
				margin: 3vw 0 0;
			}
		}
	}

	/* form 3
    -------------------------------------------*/
	&__3 {
		.c-input6 {
			@include sp {
				margin: 2vw 0;
			}

			input {
				@include sp {
					padding: 4vw 2vw 3vw;
				}
			}
		}
	}

	/* form 6
    -------------------------------------------*/
	&__6 {
		.c-select1 {
			width: 100vw;
		}

		.c-btn1 {
			margin: 0;
		}
	}

	/* form 7
    -------------------------------------------*/
	&__7 {
		.c-ttl1 {
			@include sp {
				margin: 6.6vw 0 1.2vw;
            }
            &.is-required {
                @include sp {
                    margin-top: 0;
                }
            }
        }
        .c-btn2 {
            a {
                @include sp {
                    width: 91vw;
                    margin: 0 auto;
                    padding: 3.3vw 0;
                }
            }
        }
	}
}
